.iconStyle{
    cursor: pointer;
    display: flex;
    gap: .2rem;
    justify-content: center;
    align-items: center;
    transition: .2s;
    color: black;
}

.iconStyle:hover{
    transform: scale(105%);

}